.login-wrapper {
  padding: 50px 20px;
}

.register-wrapper {
  padding: 10px 20px;
}

.form-error-message {
  text-align: center;
  padding: 50px;
  color: #d8000c;
}

@media screen and (min-width: 600px) and (max-width: 1170px) {
  .login-wrapper {
    padding: 100px 40px;
  }

  .register-wrapper {
    padding: 100px 40px;
  }
}

@media screen and (min-width: 1170px) {
  .login-wrapper {
    padding: 50px 40px;
  }

  .register-wrapper {
    padding: 50px 40px;
  }
}
